{% extends 'base.html' %}

{% block content %}
{% if training_cycle and training_cycle.user == user or not training_cycle %}
    <h1>Configure {% if not training_cycle %}new{% endif %} training cycle</h1>
    <hr>
    <form action="
    {% if training_cycle %}
        {% url 'edit' training_cycle.id %}
    {% else %}
        {% url 'new' %}
    {% endif %}
    " method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="training_cycle_name">Training Cycle Name</label>
            <input type="text"
                   class="form-control"
                   name="training_cycle_name"
                   id="training_cycle_name"
                   {% if training_cycle %}value="{{ training_cycle.name }}"{% endif %}>
        </div>
        <hr>
        <h3>Small Load</h3>

        <div class="form-inline row">
            <div class="form-group col-sm-4">
                <label for="reps_per_set_small">Reps per Set</label>
                <input type="number"
                       class="form-control"
                       name="reps_per_set_small"
                       id="reps_per_set_small"
                       min="1"
                       {% if training_cycle %}value="{{ training_cycle.config.reps_per_set_small }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="inol_target_small">INOL Target</label>
                <input type="number"
                       class="form-control"
                       name="inol_target_small"
                       id="inol_target_small"
                       min="0"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.inol_target_small }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="intensity_target_small">Intensity Target (% of 1.0)</label>
                <input type="number"
                       class="form-control"
                       name="intensity_target_small"
                       id="intensity_target_small"
                       min="0"
                       max="1"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.intensity_target_small }}"{% endif %}>
            </div>
        </div>

        <h3>Medium Load</h3>

        <div class="form-inline row">
            <div class="form-group col-sm-4">
                <label for="reps_per_set_medium">Reps per Set</label>
                <input type="number"
                       class="form-control"
                       name="reps_per_set_medium"
                       id="reps_per_set_medium"
                       min="1"
                       {% if training_cycle %}value="{{ training_cycle.config.reps_per_set_medium }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="inol_target_medium">INOL Target</label>
                <input type="number"
                       class="form-control"
                       name="inol_target_medium"
                       id="inol_target_medium"
                       min="0"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.inol_target_medium }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="intensity_target_medium">Intensity Target (% of 1.0)</label>
                <input type="number"
                       class="form-control"
                       name="intensity_target_medium"
                       id="intensity_target_medium"
                       min="0"
                       max="1"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.intensity_target_medium }}"{% endif %}>
            </div>
        </div>
        <h3>Large Load</h3>

        <div class="form-inline row">
            <div class="form-group col-sm-4">
                <label for="reps_per_set_large">Reps per Set</label>
                <input type="number"
                       class="form-control"
                       name="reps_per_set_large"
                       id="reps_per_set_large"
                       min="1"
                       {% if training_cycle %}value="{{ training_cycle.config.reps_per_set_large }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="inol_target_large">INOL Target</label>
                <input type="number"
                       class="form-control"
                       name="inol_target_large"
                       id="inol_target_large"
                       min="0"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.inol_target_large }}"{% endif %}>
            </div>
            <div class="form-group col-sm-4">
                <label for="intensity_target_large">Intensity Target (% of 1.0)</label>
                <input type="number"
                       class="form-control"
                       name="intensity_target_large"
                       id="intensity_target_large"
                       min="0"
                       max="1"
                       step="0.01"
                       {% if training_cycle %}value="{{ training_cycle.config.intensity_target_large }}"{% endif %}>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="supramaximal_inol_increment">Supramaximal INOL Increment</label>
            <input type="number"
                   class="form-control"
                   name="supramaximal_inol_increment"
                   id="supramaximal_inol_increment"
                   min="0"
                   step="0.01"
                   {% if training_cycle %}value="{{ training_cycle.config.supramaximal_inol_increment }}"{% endif %}>
        </div>
        <input type="submit" class="btn btn-primary" value="Save training cycle">
    </form>

    {% if training_cycle %}<a href="{% url 'delete' training_cycle.id %}">Delete this training cycle</a>{% endif %}
{% endif %}
{% endblock %}