{% extends 'base.html' %}

{% block content %}
    <h1>Training Cycles</h1>
    <hr>
    <a href="{% url 'new' %}">Create new training cycle</a>
    <hr>
    {% if training_cycles %}
        {% for training_cycle in training_cycles %}
        <br>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton{{ training_cycle.pk }}"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{ training_cycle.name }}
                </button>
                <div class="dropdown-menu"
                     aria-labelledby="dropdownMenuButton{{ training_cycle.pk }}">
                    <a href="{% url 'session' training_cycle.id %}"
                        class="dropdown-item">
                        Train
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'edit' training_cycle.id %}"
                        class="dropdown-item">
                        Edit
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No training cycles have been created.</p>
    {% endif %}
{% endblock %}