{% extends 'base.html' %}

{% block content %}
    <h1>
    {% if session %}
        Session Prescription
    {% else %}
        Session Calibration
    {% endif %}
    </h1>
    <div>Training cycle
        <span style="font-style:italic;">{{ training_cycle.name }}</span>
    </div>
    <hr>
    {% if session %}
        Training Max:
            {{ session.training_max }}<br>
        Workload:
            {{ session.sets }}x{{ session.reps_per_set }}{% if session.extra_reps != 0 %}, {{ session.extra_reps }}{% endif %}
            @ {{ session.load | floatformat:2 }}
    {% else %}
    <form action="{% url 'session' training_cycle.id %}" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <h3>Training Max @ RPE 8</h3>
            <input type="number"
                   class="form-control"
                   name="training_max"
                   id="training_max"
                   min="0"
                   step="any"
                   value="{{ training_cycle.previous_training_max }}"><br>
        </div>
        <div class = "form-group">
            <h3>Fatigue Rating</h3>
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="fatigue_rating"
                       id="fatigue_rating_low"
                       value="low"
                       checked="checked">
                <label for="fatigue_rating_low"
                       class="form-check-label">Low</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="fatigue_rating"
                       id="fatigue_rating_medium"
                       value="medium">
                <label for="fatigue_rating_medium"
                       class="form-check-label">Medium</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio"
                       class="form-check-input"
                       name="fatigue_rating"
                       id="fatigue_rating_high"
                       value="high">
                <label for="fatigue_rating_high"
                       class="form-check-label">High</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
    {% endif %}
{% endblock %}